@using Master.Web.Components
@using Master.Matches
@{
    ViewData["Title"] = "Index";
    var matches = ViewData["matches"] as List<Match>;
}

<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-card-header bold"><i class="layui-icon layui-icon-next"></i> @L("奖项管理")</div>
        <div class="layui-card-body">
            <form class="layui-form layui-form-pane" onsubmit="return doSearch();">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">@L("赛事")</label>
                        <div class="layui-input-inline">
                            <select asp-items="@(new SelectList(matches,"Id","Name"))" name="matchId">
                                <option value="">--选择赛事--</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">@L("奖项名称")</label>
                        <div class="layui-input-inline">
                            <input type="text" id="prizeName" name="prizeName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" pane style="width:620px">
                    <label class="layui-form-label">@L("类型")</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="prizeType" lay-skin="primary" value="1" title="综合类">
                        <input type="checkbox" name="prizeType" lay-skin="primary" value="2" title="专业类">
                        <input type="checkbox" name="prizeType" lay-skin="primary" value="3" title="混排类">
                        <input type="checkbox" name="prizeType" lay-skin="primary" value="4"title="基本类">

                    </div>
                    <button style="position:absolute;top:0px;left:650px;" class="layui-btn layui-btn-primary" type="button" onclick="doSearch()">@L("查询")</button>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn  " fornonerow="1" buttonname="@L("新建奖项")" type="button" params="{&quot;area&quot;: [&quot;80%&quot;, &quot;80%&quot;]}" lay-event="Add" confirmmsg="" buttonactiontype="Form" buttonactionurl="/Prizes/Submit" onclick="func.callModuleButtonEvent()">@L("新建奖项")</button>
                </div>
            </form>



            <table autoevent="1" id="Prize" lay-filter="Prize" class="layui-table " lay-data="{cellMinWidth:'80',height:'full-270', url:'/api/services/app/Prize/GetPageResult',where:{where:'matchInstanceId=null'}, page:true,limit:30, id:'Prize', skin: 'row', even: true,done:config.onTableDone,initSort:{field:'Id',type:'desc'}}">
                <thead>
                    <tr>
                        <th lay-data="{align:'center',field:'matchName'}">@L("赛事名称")</th>
                        <th lay-data="{align:'center',field:'prizeName'}">@L("奖项名称")</th>
                        <th lay-data="{align:'center',field:'majorName'}">@L("专业大类")</th>
                        <th lay-data="{align:'center',field:'prizeType', templet:'#prizeTypeTpl'}">@L("奖项类型")</th>
                        <th lay-data="{align:'center',field:'isActive',templet:'#activeTpl'}">@L("状态")</th>
                        <th lay-data="{align:'center',field:'remarks'}">@L("备注")</th>
                        <th lay-data="{align:'center', toolbar: '#toolbar'}">@L("操作")</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
<script type="text/html" id="prizeTypeTpl">
    {{#if(d.prizeType==1){}}
    <span class="layui-badge layui-bg-orange">@L("综合类")</span>
    {{#}else if(d.prizeType==2){}}
    <span class="layui-badge layui-bg-green">@L("专业类")</span>
    {{#}else if(d.prizeType==3){}}
    <span class="layui-badge layui-bg-cyan">@L("混排类")</span>
    {{#}else if(d.prizeType==4){}}
    <span class="layui-badge layui-bg-black">@L("基本类")</span>
    {{#}}}
</script>
<script type="text/html" id="toolbar">

    <a dataid="{{d.id}}" buttonname="@L("编辑")" modulekey="Prize" class="layui-btn layui-btn-xs " params="{&quot;area&quot;: [&quot;80%&quot;, &quot;80%&quot;]}" lay-event="Edit" confirmmsg="" buttonactiontype="Form" buttonactionurl="/Prizes/Submit" onclick="func.callModuleButtonEvent()">@L("编辑")</a>
    @*<a dataid="{{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs" buttonname="@L("删除")" modulekey="" params="" lay-event="Delete" confirmmsg="@(L("确认删除"))？" buttonactiontype="Ajax" buttonactionurl="abp.services.app.role.deleteEntity" onclick="func.callModuleButtonEvent()">@L("删除")</a>*@
</script>
@section scripts{
    <script>
        config.ready = function () {
            var element = layui.element,
                table = layui.table;
            table.on('sort(Prize)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                //console.log(obj.field); //当前排序的字段名
                //console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
                //console.log(this); //当前排序的 th 对象

                //尽管我们的 table 自带排序功能，但并没有请求服务端。
                //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
                table.reload('Prize', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                    , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        orderfield: obj.field,
                        ordertype: obj.type
                    }
                });
            });

            config.refresh();


        };
        config.onTableDone = function () {

        };
        config.refresh = function () {

        };
        function doSearch() {
            var where = { where: 'matchInstanceId=null' };
            var matchId = $("select[name='matchId']").val();
            if (matchId) {
                where.where += ' and matchId=' + matchId;
            }
            var prizeName = $("#prizeName").val();
            if (prizeName) {
                where.where += ' and PrizeName.Contains(\"' + prizeName + '\") ';
            }
            var prizeTypes = getCheckboxValue("prizeType");
            if (prizeTypes.length > 0) {
                var tmpWhere = [];
                $.each(prizeTypes, function (i, v) {
                    tmpWhere.push('PrizeType=' + v);
                });
                where.where += ' and (' + tmpWhere.join(' or ') + ')';
            }
            console.log(where);
            layui.table.reload('Prize', {
                where: where

            })

            return false;
        }
    </script>
}