@using Master.Web.Models.Select
@using Master.Reviews
@using Master.Majors
@model Review
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    ViewData["Title"] = "SelProjects";
}


<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form layui-form-pane" onsubmit="return doSearch();">
                <input type="hidden" name="exclude" value="@ViewBag.Exclude" />
                <input type="hidden" name="reviewType" value="@Model.ReviewType"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="projectname" name="projectname" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">申报单位</label>
                        @*<div class="layui-input-inline">
            <input type="text" id="designorganization" name="designorganization" autocomplete="off" class="layui-input">
        </div>*@
                        <div cyType="dropDownTool" cyProps="url:'/api/services/app/Organization/GetTreeJson?maxlevel=2',search:'false',checkbox:'false',key_name:'briefName'"
                             name="OrganizationId" value="" class="layui-input-inline" style="position:relative">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">专业大类</label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="majorId" value="@Model.MajorId" />
                            <input type="text" class="layui-input" value="@Model.Major.BriefName" readonly>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">专业小类</label>
                        <div class="layui-input-inline">
                            @if (Model.SubMajorId == null)
                            {
                                <select name="subMajorId">
                                    <option value="">--请选择--</option>
                                    @foreach (Major subMajor in ViewBag.SubMajors)
                                    {
                                        <option value="@subMajor.Id">@subMajor.BriefName</option>

                                    }
                                </select>
                                @*<input type="text" class="layui-input" value="-" readonly/>*@
                            }
                            else
                            {
                                <input type="text" class="layui-input" value="@ViewBag.SubMajor.BriefName" readonly>
                                <input type="hidden" name="subMajorId" value="@Model.SubMajorId" />
                            }
                        </div>
                        <button class="layui-btn layui-btn-primary" type="button" lay-submit="" lay-filter="selproject">@L("查询")</button>
                        <button type="button" class="layui-btn layui-btn-normal" onclick="func.bringBack('Project',true);">@L("选择并返回")</button>
                    </div>
                </div>
            </form>


            <table autoevent="1" id="Project" lay-filter="Project" class="layui-table " lay-data="{cellMinWidth:'80', url:'/api/services/app/Project/GetReviewProjects',where:{majorId:@Model.MajorId,subMajorId:'@Model.SubMajorId?.ToString()',exclude:'@ViewBag.Exclude',reviewType:'@Model.ReviewType'}, page:false, id:'Project',done:config.onTableDone,initSort:{field:'Name',type:'asc'}}">
                <thead>
                    <tr>
                        <th lay-data="{checkbox:true,fixed:'left'}"></th>
                        <th lay-data="{align:'center',field:'projectName'}">@L("项目名称")</th>
                        <th lay-data="{align:'left',field: 'prizeName'}">@L("奖项名称")</th>
                        <th lay-data="{align:'center',field:'subMajorName'}">@L("奖项小类")</th>
                        <th lay-data="{align:'center',field:'designOrganizationName'}">@L("申报单位")</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
@section scripts{
    <script>
        config.ready = function () {
            var element = layui.element,
                table = layui.table;
            layui.form.on('submit(selproject)', function (obj) {
                console.log(obj);
                layui.table.reload('Project', {
                    where: obj.field

                })
            })
            table.on('sort(Project)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                //console.log(obj.field); //当前排序的字段名
                //console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
                //console.log(this); //当前排序的 th 对象

                //尽管我们的 table 自带排序功能，但并没有请求服务端。
                //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
                table.reload('Project', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                    , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        orderfield: obj.field,
                        ordertype: obj.type
                    }
                });
            });

            config.refresh();

            $('div[cytype="dropDownTool"]').dropDownTool();

        };
        config.onTableDone = function () {

        };
        config.refresh = function () {

        };
    </script>
}

